div#header  {
  background-color: #009DDA;
  width: 100%;
  height: 60px;
  right: 0px;
  top: 0px;
  position: relative;
}

#content {
  overflow: hidden;
/*  padding: 5px;
  width: 960px;
  margin: 20px auto;*/
}
#left {
  float:left;
  width:16%;
}

#wrapper {
  width: 100%;
  clear:both;
}

#main {
  float:left;
  /*width:60%;*/
  border-left: 1px solid  #C2DDF2;
  border-right: 1px  solid #C2DDF2;
  box-shadow: 0px 0px 2px 0px #CCCCCC;
  height: 1000px;
  /*margin: 0px 0 0px 100px;*/
  width: 70%;
  padding-top: 175px;
  font-family: Univers45Light,Verdana;
  /*overflow: hidden;*/
  /*align-content: center;*/
}
#right {
  float:left;
  width:12%;
}

#banner {
  height: 205px;
  margin-left: 50px;
  align-content: center;
  position: absolute;
  top: 25px;
  width: 60%;
  /*border: 10px clear;*/
}

#left_content {
  width: 60%;
  margin: 0 0 0px 20px;
  padding-right: 20px;
  float: left;
  height: 100%;
  border-right: 2px solid #DCDCDC;
}

#right_content {
  width: 30%;
  margin: 0 0 0px 25px;
  float: left;
  height: 100%;
  border: 1px solid #000000;
}

h4 {
  font-weight:normal;
  font-size: 17px;
  color:#262626;
  margin-bottom: 0px;

}

#intro {
  color:#3D3D3D;
  font-size: 13px;
}

#demo{
  width: auto%;
  max-width: 100%
  border: 1px solid #000000;
  height: 300 px;
  background-image: url('../img/demobackground.svg');
  background-repeat: no-repeat;
  /*display:block;*/
  margin: auto;
}

#manifesto {
  width: 100%;
  border: 1px solid #000000;
  height: 400px;
}







