div#header  {
  background-color: #009DDA;
  width: 100%;
  height: 60px;
  right: 0px;
  top: 0px;
  position: relative;
}

#content {
  overflow: hidden;
/*  padding: 5px;
  width: 960px;
  margin: 20px auto;*/
}
#left {
  float:left;
  width:16%;
}

#wrapper {
  width: 100%;
  clear:both;
}

#main {
  float:left;
  border-left: 1px solid  #C2DDF2;
  border-right: 1px  solid #C2DDF2;
  box-shadow: 0px 0px 20px 0px #CCCCCC;
  height: 100%;
  width: 76%;
  padding-top: 175px;
  font-family: Verdana;
}
#right {
  float:left;
  width:10%;
}

#banner {
  height: 205px;
  margin-left: 50px;
  align-content: center;
  position: absolute;
  top: 25px;
  width: 60%;
  /*border: 10px clear;*/
}

#left_content {
  width: 60%;
  margin: 0 0 0px 20px;
  padding-right: 20px;
  float: left;
  height: 100%;
  border-right: 2px solid #DCDCDC;
}

#right_content {
  width: 30%;
  margin: 0 0 0px 0px;
  float: left;
  height: 100%;
}

h4 {
  font-weight:normal;
  font-size: 17px;
  color:#262626;
  margin-bottom: 0px;
}

#intro {
  color:#383838;
  font-size: 14px;
}

#top_content{
  width: 100%;
  height: 100%;
  background-image: url('../img/demobackground.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  position: relative;

}

#top_content_text{
  text-align: center;
  font-size: 23px;
  font-weight: strong;
  width: 100%;
  padding-top: 20px;
  /*padding-left: 32px;*/

  line-height: 23px;
  color: #424242;
  /*float: left;*/
  position: absolute;
}

#popup{
  float: left;
  width: 100%
}

#demo_button {
  width: 100%;
  text-align: center;
  margin: 80px 10px 0 0;
}

#manifesto {
  width: 100%;
  height: 180px;
  margin: 20px 0 20px 0;
  padding: auto;
  padding-top: 20px;
  border-top: 2px solid #DCDCDC;
  border-bottom: 2px solid #DCDCDC;
}

#bottom_header_text {
  text-align: left;
  font-size: 13px;
  color: #808080;
}

#bottom_div {
  width: 100%;
  position:relative;
}

#bottom_image {
  width: 28%;
  float: left;
  padding: 20px 10px 10px 0;
}

#bottom_image {
  float: left;
  width:25%;
}

#bottom_div_text {
  margin-top: 16px;
  float: right;
  width: 70%;
}

#botttom_text1 {
  font-size:16px;
}
#bottom_text2 {
  padding-top: 15px;
  font-size: 12px;
}







